*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
  }
  
  .container{
    width: 100%;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  .weather-app{
    border: 1px solid #dadde1;
    width: 600px;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
  }

  .search-form{
    margin-bottom: 20px;
  }

  .row{
    display: flex;
    flex-wrap: wrap; 
}

   .col-6 input{
width:300px;
height: 35px;
border-radius: 5px;
border: 1px solid #8195af;
flex:0 0 75%;
  }

 .col-3{
    flex: 0 0 20%;
    max-width: 20%;
  
}

.btn{
  display: inline;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success{
  color: #fff;
  background-color: green;
  border-color: green;
} 


.btn-primary:hover{
cursor: pointer;
}

.btn-success:hover{
  cursor: pointer;
  }
  
 
  h1 {
    color: #7c7c7c;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin: 0;
  }
  
  ul {
    margin: 0 0 10px ;
    padding: 0;
  }
  
  li {
    color: #7c7c7c;
    font-size: 16px;
    font-weight: 100;
    height: 19px;
    line-height: 1;
    list-style: none;
  }
  
  
 .temperature {
    color: rgb(33, 33, 33);
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
  }
  
  .units {
    position: relative;
    top: -34px;
  }

  .col-9{
    margin: 0 0 0px 270px;
  }

  a{
    text-decoration: none;
    color: #007bff;
    margin: 400px;
  }